<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="static/stile.css">
</head>
<body>
    <h1>Profile</h1>
    <p>Welcome, <span id="user">{{dettaglioUtente.username}}</span>!</p>
    <p>Name: <span id="name">{{dettaglioUtente.username}}</span></p>
    <p>Data Nascita: <span id="nascita">{{dettaglioUtente.nascita}}</span></p>
    <p>Corso: <span id="corso">{{dettaglioUtente.corso}}</span></p>
    <div>
        <h3>Choose the device</h3>
    </div>
    <div>
        <form action="/device" method="GET">
            <select name="deviceId">
                {%for itemDev in listDevice: %}
                    <option value="{{itemDev.id}}">{{itemDev.device}}</option>
                {%endfor%}
            </select>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>

</body>
</html>