<!DOCTYPE html>
<html>
<head>
  <title>Titolo della pagina</title>
  <link rel="stylesheet" type="text/css" href="CSS/device.css">
</head>
<body>
<header id="controls">
  <quote></quote>
  <h2>Setup</h2>
  <h3>Turn on the lamp</h3>
  
  <form action='/device' method="POST" >
    <input name="deviceId" type="text" value="{{device.id}}"> 
    <div class="Turn_on"> <!-- Botón para encender -->
      <input type="checkbox" name="check" value="1" id="Turn_on"  checked/>
      <label for="Turn_on"></label>
    </div>
    <div id="regulate_intensity"> <!-- Intensidad -->
      <h3>Adjust light brightness</h3>
      <input id="contrast" type="range" name="brightness" value="5" max="5" min="0" step="1" value="0"></input>
    </div>
    <div>
      <h3> Battery</h3>
      <input type="text" name="battery" value="100">
    </div>
    <div><input type="submit" value="Save"></div>
  
  <!-- Nivel de batería -->
  
<!-- Header -->

<section id="ilustracion">
  <div id="contenedorlampara">
    <div id="techo"></div>
    <div id="cable"></div>
    <div id="lampara"></div>
    <div id="interior"></div>
    <div id="luz"></div>
  </div><!-- contenedor lampara -->
  
   
</section>

</body>
</html>
