<html>
    <head>
        <title>index</title>
        <link rel="stylesheet" type="text/css" href="static/stile.css">
    </head>
    <body>
        <h4 >Bienvenuto</h4>
        <h1 >Scegli una ozione</h1>
        
        <div>
            <h4>Registro</h4>
            <p>Compila un piccolo form per essere registrato</p>
        </div>    
        <div>
            <form action="/registro">
                <button class="button">Registrati</button>
                </p>
            </form>
        
            <h4>Ingresa</h4>
            <p>Sei già registrato? inserisci i tuoi utenti e password per ingresare</p>
        
            <form action="/login">
                <button class="button">Login</button>
                </p>
            </form>
            
        </div>
    </body>
</html>