<html>
    <head>
        <title>registro html</title>
        <link rel="stylesheet" type="text/css" href="static/stile.css">
    </head>
    <body>
        <h1>Registro</h1>
        <h2>Inserisci i tuoi dati</h2>
        
        <font color="#ff5500">
        Ciao! Compila questo form per essere registrato.<br>
        </font>

        <form method="POST" action='/add_registro'>
            User: <input type="text" name="user" value="" /><br/>
            <br/>
            Password: <input type="password" name="password" value="" /><br/>
            <br/>
            Data di nascita: <input type="date" name="nascita" value="" /><br/>
            <br/>
            Corso: <input type="text" name="corso" value="" /><br/>
            
            <button type="submit">Salva</button>
        </form>
    </body>
</html>


    
